# AWS SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Node.js
node_modules/
dist/
.env
.env.*

# OS
.DS_Store

INSTRUCTION.md

# Frontend Config
frontend/src/amplifyConfig.js

# Vite cache
frontend/.vite

# Frontend Environment Config
frontend/.env