@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles and custom fonts if needed */
body {
    font-family: 'Inter', sans-serif; /* ตัวอย่างการใช้ฟอนต์ */
    @apply text-gray-800; /* กำหนดสีข้อความพื้นฐาน */
}